/* General Container */
.profileContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--bg-color);
  color: var(--text-color);
  padding: 20px;
  border-radius: 20px;
  margin: 100px auto;
  max-width: 670px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

/* Tab Navigation */
.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  border-radius: 10px;
}

.tabs button {
  margin-right: 10px;
  padding: 12px 30px;
  border: 2px solid #ddd;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 10px 10px 0 0;
  transition: background-color 0.3s ease;
}

.tabs button:hover {
  background-color: #f3eaea;
  border-color: #ff8c00;
}

.activeTab {
  background-color: #4CAF50;
  color: white;
}

/* Profile and Appointments Content */
.profileContent, .appointmentsContent {
  padding: 20px;
  background-color: var(--bg-color);
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.profileHeader {
  font-size: 1.8em;
  color: var(--header-color);
  font-weight: bold;
  margin-bottom: 20px;
}

/* Info Section */
.info {
  margin-bottom: 15px;
}

.infoLabel {
  font-weight: bold;
}

/* Upcoming Appointments Grid */
.bookingGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top: 20px;
}

.bookingItem {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 8px;
  background-color: var(--bg-color);
  transition: background-color 0.3s ease;
}

.bookingItem:hover {
  background-color: #fffae6;
}

.bookingItem span {
  display: block;
  margin: 5px 0;
  font-size: 14px;
}

/* Status Styling */
.statusBooked {
  color: green;
  font-weight: bold;
}

.noAppointments {
  color: red;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}

/* Buttons */
.resetButton, .signOutButton {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  margin-top: 15px;
}

.resetButton:hover, .signOutButton:hover {
  background-color: #0056b3;
}

.inputField {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.updateButton, .resetButton, .signOutButton {
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  color: #0056b3;
}

.updateButton {
  background-color: #4CAF50;
  color: white;
}

.updateButton:disabled {
  background-color: #ccc;
}

.resetButton, .signOutButton {
  background-color: #0056b3;
  color: white;
  margin-top: 20px;
  
}

.editButton{
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  color: #0056b3;
}

.cancelButton{
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  color: #0056b3;
}